<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style type = "text/css"></style>
</head>
<body>
   <h1><strong>Hier ist dein Foto </strong></h1>

   <p><strong>iPhone: Einfach das Bild gedrückt halten,</strong> </p>
   <p><strong>dann kannst du es in den Fotos sichern.</strong></p>
   <p><strong>Android: Finde es selbst heraus;)</strong></p>
    <img src="{{ user_image }}" style="display: block; margin-left: auto;
     margin-right: auto;"
         width="{{ width }}" height="{{ height }}" alt="User Image" align="bottom">
</body>
</html>